#body-content{
    gap: 3rem;
}

/* */
.inter-line{
    transform:rotateX(30deg);
    position: relative;
}

/* */

.home-content-introduction-card{
    padding: 1rem;
    border: 1px solid #98989a;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.introduction-card-title-container{
    gap: 0.2rem;
    display: flex;
    flex-direction: column;
}

.introduction-card-title{
    font-family: "JetBrains Mono";
    color: #45474C
}

.introduction-card-container-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.introduction-card-subtitle{
    font-family: "Inter";
    font-weight: bold;
}

.introduction-card-description{
    font-family: "Inter";
    color: #45474C;
}

.introduction-card-buttons-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.button-pdf{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border: solid 1px #091426;
    background-color: #091426;
    color: #ffffff;
    font-family: "JetBrains Mono";
}

.svg-download{
    color: #ffffff;
}

.button-source{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border: solid 1px #94A3B8;
    background-color: #ffffff;
    color: #091426;
    font-family: "JetBrains Mono";
    
}



/* */


.home-content-devs-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgba(255,255,255,0.4);
}
.title-section{
    font-family: "JetBrains Mono";
    color: #45474C;
}

.home-content-devs-info{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
}

.card-dev-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px #98989a solid;
    padding: 1rem;
}

.card-dev-header{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.card-dev-img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dev-img{
    width: 100%;
    border-radius: 10px;
}

.card-dev-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dev-name{
    font-family: "Inter";
    font-weight: bold;
}

.dev-proffesion{
    font-family: "JetBrains Mono";
    color: #085AC0;
}

.card-dev-line{
    border: none;
    box-sizing: border-box;
    height: 1px;
    width: 100%;
    background: #98989a;
}

/* */ 
